@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "Slider.css";
@import "HeaderDesktop.css";
@import "HeaderMobile.css";
@import "FooterDesktop.css";
@import "FooterMobile.css";
@import "typo.css";
@import "MegaMenu.css";
@import "Card.css";
@import "Button.css";

body{
    background:#f5ffff67;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.logo{
    border-radius: 10px;
}